*{
	box-sizing: border-box;
}
body{
	margin: 0;
	background-image: url('../img/fondo.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	min-width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.filter-container{
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	min-height: 100%;
	min-width: 100%;
}

#logo-nav{
	text-decoration: none;
    vertical-align: middle;
    fill: #e50914;
    display: inline-block;
	line-height: 90px;
	margin-left: 30px;
}
.svg-icon-netflix-logo{
	height: 45px;
    width: 167px;
	vertical-align: middle;
}
section{
	display: flex;
}
.panel{
	margin: auto;
	background-color: rgb(0, 0, 0, 0.7);
	padding: 60px 68px 40px;
	border-radius: 10px;
	width: 35%;
	color: #b3b3b3!important;
	margin-bottom: 50px;
}
.panel a {
	text-decoration: none;
}
.panel a:hover {
	text-decoration: underline;
}
.panel-title{
	color: white;
	margin-top: 0;
	font-size: 2.4rem;
}
.panel-body{
	width: 100%;
}
.login-text{
	width: 100%;
	padding: 18px 20px;
	background-color: #333;
	border-radius: 5px;
	border: none;
	/*border-bottom: 2px solid #e87c03;*/
	font-size: 1.1rem;
	outline: none;
	margin-bottom: 20px;
	color: white;
}

.login-button{
	display: inline-block;
	margin: 20px 0px;
	width: 100%;
	padding: 18px 20px;
	background-color: #e50914;
	color: white;
	text-align: center;
	font-size: 1.1rem;
	
	text-decoration: none!important;
	border-radius: 5px;
}
.login-text:focus{
	outline: none;
}
.inline-container{
	display: inline-flex;
	flex-direction: row;
	font-size: 13px;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 50px;
}
.inline-item a{
	color: #b3b3b3;
}
.panel .panel-body > p {
	font-size: 13px;
}
.panel .panel-body > p > a{
	color: blue;
}
.panel-subscribe a{
	color: white;
	font-weight: bold;
}
footer{
	width: 100%;
	padding: 20px 100px 50px 100px;
	background-color: rgb(0, 0, 0, 0.7);
}
footer a, footer p{
	color: #757575;
	text-decoration: none;
}
footer a:hover{
	text-decoration: underline;
}
.footer-container{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

}
.footer-item{
	width: 25%;
	display: flex;
	flex-direction: column;
	font-size: 13px;
}
a.dropdown{
	background: #000;
	color: #757575;
	padding: 10px 10px;
	border: solid 1px #757575;
	border-radius: 2px;
	font-size: 13px;
}
